.intro {
    display: flex;
    padding: 60px;
    flex-direction: row;
}

.intro-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-right {
    flex: 1;
}

.intro-left-wrapper {
    /* font-size: 30px; */
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-greetings {
    font-size: 35px;
    font-weight: 300;
}

.intro-name {
    font-size: 100px;
}

.intro-description {
    font-size: 35px;
    
}

.intro-skill-title {
    font-size: 30px;
}

.intro-skills {
    margin-top: 10px;
    height: 40px;
    margin-left: -14px;
}

.intro-skills-wrapper {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.skill-icon {
    padding-right: 15px;
    width: 100px;
    height: 100px;
}

.intro-right {
    padding-top: 40px;
}

.intro-img {
    height: auto;
    width: 100%;
    max-width: 720px;
}

@media screen and (max-width: 1310px) {
    .intro {
        flex-direction: column;
        align-items: center;
    }
    .intro-img {
        padding-top: 100px;
    }
    
}

@media screen and (max-width: 800px) {
    .intro {
        flex-direction: column;
    }
    .intro-img {
        padding-top: 100px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        flex-direction: column;
    }
    .intro-img {
        padding-top: 100px;
    }
}

@media screen and (max-width: 550px) {
    .intro-greetings {
        font-size: 35px;
    }
    .intro-name {
        font-size: 60px;
    }
    .intro-description {
        font-size: 35px;
    }
    .intro-skill-title {
        font-size: 25px;
    }
    .intro-skills {
        margin-left: 0;
    }
    .skill-icon {
        width: 60px;
        height: 60px;
    }
    .intro-img {
        padding-top: 50px;
    }
}