.footer {
    background-color: #e6d2fc;
    height: 7vh;
    /* display: block; */
    /* position: absolute; */
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 23px;
}

.footer-reserved {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    color: $cod-gray;
    margin: 0;
}

.footer-link {
    color: #000;
    transition: 0.5s all;
    text-decoration: none;
    margin: 0 0 0px;
    font-weight: 600;
}

.footer-link:hover {
      color: #fff;
      transition: all 0.3s;
}

@media screen and (max-width: 400px) {
    .footer-wrapper {
        flex-direction: column;
        justify-content: center;
        padding: 13px;
    }
}

@media screen and (max-height: 900px) {
    .footer {
        height: 100%;
    }
}
  